# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
env/
venv/

# Database
db.sqlite3
db.sqlite3-journal

# Media & Static
media/
static/assets/

# IDE/System
.vscode/
.idea/
.DS_Store
Thumbs.db
